<?xml version="1.0"  encoding="UTF-8"  ?>
<!DOCTYPE configuration PUBLIC  "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<!--	<settings>-->
<!--		<setting name="cacheEnabled" value="false" />-->
<!--		<setting name="lazyLoadingEnabled" value="false" />-->
<!--		<setting name="multipleResultSetsEnabled" value="true" />-->
<!--		<setting name="useColumnLabel" value="true" />-->
<!--		<setting name="useGeneratedKeys" value="false" />-->
<!--		<setting name="defaultExecutorType" value="SIMPLE" />-->
<!--		<setting name="defaultStatementTimeout" value="30" />-->
<!--		&lt;!&ndash;<setting name="logImpl" value="LOG4J2" />&ndash;&gt;-->
<!--	</settings>-->
<!--	<plugins>-->
<!--			&lt;!&ndash; 拦截器配置 &ndash;&gt;-->
<!--			<plugin interceptor="com.github.bjlhx15.mybatis.readwrite.split.datasource.MybatisSqlInterceptor" />-->
<!--		</plugins>-->

</configuration>